#container {margin: 0 auto;width: 940px; position:relative;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}


.flexslider {
	width: 100%;
	margin: 0;
	position: relative;
	margin-bottom:20px;
}
.flexslider .slides img {
	max-width: 100%;
	display: block;
}


.flex-caption {
	position: absolute;
	left:58px;
	bottom:22px;
	z-index:1;
	font:72px/87px Arial, sans-serif;
	color:#ffffff;
	letter-spacing: -4px;
	text-transform: uppercase;
}
	.slide-text-bold {
		font-weight:bold;
	}
	
 .slide-button {
	display:inline-block;
	margin-top:18px;
	margin-left:10px;
}
	
/* Control Nav */
.flex-direction-nav .prev, .flex-direction-nav .next{
	display:none;
}

.flex-control-nav {
	position:absolute;
	right:20px;
	bottom:20px;
	list-style:none;
}
.flex-control-nav > li {
	float:left;
	margin-left:5px;
}
.flex-control-nav li a {
	display:block;
	text-indent:-999em;
	width:15px;
	height:15px;
	background: url('../images/pag-1.png') no-repeat;
}
	.flex-control-nav li a:hover, .flex-control-nav li a.active {
		background: url('../images/pag-1.png') no-repeat 0 -15px;
	}

	
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.flex-caption {
	position: absolute;
	left:30px;
	bottom:10px;
	z-index:1;
	font:72px/87px Arial, sans-serif;
	color:#ffffff;
	letter-spacing: -4px;
	text-transform: uppercase;
}
}
@media only screen and (max-width: 767px) {
	.flex-caption {display:none;}
		.flex-control-nav {
		position:absolute;
		left:16px;
		bottom:16px;
		list-style:none;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

}