/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@import url(http://fonts.googleapis.com/css?family=Sansita+One);

h1 {
	float: left;
	padding-top: 36px;
	padding-left: 30px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	color: #646464;
	text-transform: uppercase;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e1e1e1;
}

nav ul li a {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #646464;
	text-transform: uppercase;
	padding-top: 39px;
	padding-right: 29px;
	padding-bottom: 39px;
	padding-left: 28px;
}

nav ul li:last-child {
	padding-right: 30px;
}

nav ul li:hover,
nav ul li.active {
  background: #fafafa; /* fallback for old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #e1e1e1 31%, #e1e1e1 74%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #fafafa 0%,#e1e1e1 31%,#e1e1e1 74%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafafa 0%,#e1e1e1 31%,#e1e1e1 74%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafafa 0%,#e1e1e1 31%,#e1e1e1 74%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(top, #fafafa 0%,#e1e1e1 31%,#e1e1e1 74%,#fafafa 100%); /* W3C */
}

.slogan-block ul li {
	background-image: url(../images/marker-1.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	margin-bottom: 5px;
}

.slogan-block ul li a {
	color: #646464;
}

.slogan-block ul li a:hover{
	color: #149fdb;
}

.page-1 .white-block ul li {
	background-image:url(../images/marker-2.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	margin-bottom: 5px;
}

.white-block ul li a {
	color: #149fbd;
	font-weight: bold;
}

.white-block ul li a:hover {
	color: #646464;
}



nav ul li, footer ul li {
	display: inline-block; /* nav and footer lists horizontal */
}

footer ul {
	float: left;
}

footer p {
	float: right;
}

footer p a {
	color: #9b9b9b;
}

footer p a:hover {
	color: #149fdb;
}

footer ul li a {
	display: block;
	width: 32px;
	height: 40px;
	text-indent: -999em;
}


img {
	max-width: 100%; /* basic fluid image approach */
}

.image-list li {
	background-color: #e7e7e7;
	margin-right: 20px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
	width: 140px;
}

body {
	background-color: #ebebeb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #646464;	
}

section {
	float: left;
}

header {
	background-color: #fafafa;
	margin-top: 30px;
	margin-bottom: 20px;
}

.slogan-block {
	background-color: gainsboro;
	margin-left: 10px;
	margin-right: 10px;
}

.white-block {
	background-color: #fafafa;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* [disabled]height: inherit; */
}

.white-block aside {
	padding-left: 30px;
	padding-right: 20px;
}

.block-h {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 72px;
	color: #fff;
	letter-spacing: -1px;
	text-transform: uppercase;
	padding-right: 40px;
	padding-left: 30px;
}

.block-p {
	font-weight: bold;
	color: #149fdb;
	padding-right: 40px;
	padding-left: 30px;
}

.slogan-block .slogan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 55px;
	line-height: 72px;
	color: #414141;
	letter-spacing: -2px;
	text-transform: uppercase;
	padding-top: 50px;
	margin-bottom: 10px;
}

.slogan span {
	font-family: 'Sansita One', cursive;
	font-size: 61px;
	color: #fff;
}

.slogan-block p {
	color: #646464;
}

.slogan-block p strong {
	color: #646464;
}

.slogan-block a:hover {
	color: #646464;
}

.number {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	line-height: 43px;
	color: #fff;
	text-align: center;
	width: 51px;
	height: 60px;
	margin-top: 6px;
	margin-right: 19px;
	padding-top: 4px;
	background-image: url(../images/number.png);
	background-repeat: no-repeat;
}

.quote {
	font-style: italic;
	font-size: 14px;
	margin-bottom: 0px;
}

.author {
	font-weight: bold;
	font-size: 11px;
	color: #888888;
	text-align: right;
}

footer p {
	font-size: 11px;
	color: #9B9B9B;
	padding-top: 13px;
}

.intro {
	font-weight: bold;
	color: #149fbd;
}

.aside-h {
	font-weight: bold;
	color: #149fbd;
	margin-bottom: 0px;
}

.aside-p {
	border-bottom: ;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
}

.block-6 span {
	color: #149fdb;
}

.readmore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #149fdb;
	text-transform: uppercase;
}

a {
	color: #149fdb;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

h1 a {
	display: block;
	text-indent: -999em;
	width: 168px;
	height: 37px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}

.soc-icon-1 {
	background-image: url(../images/soc-icon-1.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
}

.soc-icon-2 {
	background-image: url(../images/soc-icon-2.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
}

.soc-icon-3 {
	background-image: url(../images/soc-icon-3.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
}

.soc-icon-4 {
	background-image: url(../images/soc-icon-4.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
}

.quotebg {
  background: #fdfdfd; /* fallback for old browsers */
  
  /* linear gradient */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #fcfcfc 22%, #f9f9f9 29%, #fafafa 33%, #f8f8f8 35%, #efefef 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#fcfcfc 22%,#f9f9f9 29%,#fafafa 33%,#f8f8f8 35%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%,#fcfcfc 22%,#f9f9f9 29%,#fafafa 33%,#f8f8f8 35%,#efefef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%,#fcfcfc 22%,#f9f9f9 29%,#fafafa 33%,#f8f8f8 35%,#efefef 100%); /* IE10+ */
  background: linear-gradient(top, #fdfdfd 0%,#fcfcfc 22%,#f9f9f9 29%,#fafafa 33%,#f8f8f8 35%,#efefef 100%); /* W3C */

  /* Border radius */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 
  /* Box model */
  border: 1px solid #e4e4e4;
  padding: 16px 20px 12px 20px;
  margin-bottom: 25px;
  position:relative;
}

.quotebg:after {
  display: block;
  position: absolute;
  left: 100px;
  bottom: -20px;
  content: "";
  z-index: 10;
  background: url('../images/test-extra.png') no-repeat;
  width: 34px;
  height: 20px;
}

.main-block {
	background: #fafafa;
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 60px;
}



/* #Page Styles
================================================== */
.page-1 .block-1 {
	padding-top: 150px;
	background-repeat: no-repeat;
	height: 150px;
	background-image: url(../images/1page_img1.jpg);
	background-color: #fafafa;
}

.page-1 .block-2 {
	padding-top: 150px;
	background-repeat: no-repeat;
	height: 150px;
	background-image: url(../images/1page_img2.jpg);
	background-color: #fafafa;
}

.page-1 .block-3 {
	padding-top: 150px;
	background-image: url(../images/1page_img3.jpg);
	background-repeat: no-repeat;
	height: 150px;
	background-color: #fafafa;
}

.page-1 .block-5 {
	
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 30px;
}

.page-1 .block-4 {
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 30px;
}

.page-1 .block-6 {
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 30px;
}

.page-2 aside {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dfdfdf;
}

.page-2 .quote {
	background-image: url(../images/quote.png);
	background-repeat: no-repeat;
}

.page-2 .author,
.page-4 .author {
	font-weight: bold;
	text-align: right;
	font-size: 13px;
	color: #149FBD;
}

.page-1 section > div {
	margin-bottom: 20px:
}

.page-2 .white-block aside {
	padding-right: 30px:
}

.page-4 article {
	max-width: 580px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 20px;
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		
		nav ul li a {
			padding: 39px 20px 39px 20px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	h1, nav, footer ul {
	  float: none;
	}
		
	 nav ul li {
            display: block;
            float: none;
        }
	
	nav ul li a {
		padding-top: 15px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding-left: 30px;
	}
	
	
	nav ul li:hover,
    nav ul li.active {
            background: #149FBD;
        }
        
    nav ul li {
            border: 1px solid #E1E1E1;
            margin-top: 5px;
        }
		
	nav ul li:hover a,
    nav ul li.active a
         {
            color: #FAFAFA;
        }

	
	.slogan-block .slogan {
		font-size: 26px;
		line-height: 40px;
		padding-right: 15px;
		padding-left: 30px;
	}
	
	.slogan-block .slogan span {
		font-size: 30px;
		line-height: 40px;
	}
	
	.slogan-block p {
		padding-right: 15px;
		padding-left: 30px;
	}
	
	.slogan-block ul {
		padding-right: 15px;
		padding-left: 30px;
	}
	
	.slogan-block .readmore {
		padding-left: 30px;
	}

	
	footer p {
	  float: none;
	  text-align: center;
	}
	
	.slogan-block {
		margin-right: 0px;
		margin-left: 0px;
		float: left;
	}
	
	.white-block {
		margin-right: 0px;
		margin-left: 0px;
		float: left;
	}
	
	.page-1 .block-1 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}
	
	.page-1 .block-2 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}
	
	.page-1 .block-3 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}
	
	.page-1 .block-4 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}
	
	.page-1 .block-5 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
		border-left: 0;
	
	}
	
	.page-1 .block-6 {
		width: 300px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
		border-left: 0;
	}
	
	.page-2 aside {
		border-right: 0 px;
	}
	
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.image-list li {
			margin-left: 20px;
		}
		}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.image-list li {
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
		}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
